
{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="auth-form-container">
  <h3 class="text-center mb-4">Create Account</h3> 
  <form method="post">
      {{ form.hidden_tag() }}
      <div class="mb-3">
          {# {{ form.username.label(class="form-label") }} #}
          {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else ""), placeholder="Username") }}
           {% for error in form.username.errors %}
              <div class="invalid-feedback">{{ error }}</div>
           {% endfor %}
      </div>
       <div class="mb-3">
          {# {{ form.password.label(class="form-label") }} #}
          {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), placeholder="Password") }}
           {% for error in form.password.errors %}
              <div class="invalid-feedback">{{ error }}</div>
           {% endfor %}
      </div>
       <div class="mb-3">
          {# {{ form.confirm.label(class="form-label") }} #}
          {{ form.confirm(class="form-control" + (" is-invalid" if form.confirm.errors else ""), placeholder="Repeat Password") }}
           {% for error in form.confirm.errors %}
              <div class="invalid-feedback">{{ error }}</div>
           {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary w-100 mb-3") }}
  </form>

  <hr> 

  <p class="text-center">
      Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>
  </p>


</div>
{% endblock %}
